*{
    margin: 0px;
    padding:0px;

}
body{
    background: url("back2.avif") center/cover fixed no-repeat ;
}
.container{
    height: 100vh;
    width:100wh;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow Condensed', sans-serif;
    align-items: center;
    justify-content: center;
   
    
  

}
.cont{
    height: 170px;
    width:500px;
    border: 2px solid grey;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
    
  

}
.joke{
    font-size: 25px;
    /* text-shadow: 20px; */
    color:rgb(209, 233, 51);
    padding:10px;
    font-weight: bold;

    
}
.but{
   padding-top: 5px;
 
    
    
}
.click{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    color:red;
    background-color: rgb(236, 236, 157);
    cursor: pointer;
    font-weight: bold;
    
}
.laugh{
    padding:15px;
    font-family: 'Lilita One', sans-serif;
    font-size: 45px;
    color:rgb(66, 46, 23);
}
@media only screen and (max-width: 500px) {
    .cont{
        height: 220px;
        width:300px;
    }
    
}
@media only screen and (max-width: 310px) {

    .cont{
        height: 250px;
        width:250px;
    }
    


}
@media only screen and (max-width: 300px) {

    .cont{
        height: 300px;
        width:200px;
    }
    


}